/* global graphics
*/

h2 {
    margin-top: 2px;
}
/*
* Stretching to bottom
*/

html, body {
    height: 100%;
}

.main_content {
    height: calc(100% - 75px);
}

.sub_content, .content_main_row, .content_main_row_part  {
    height: 100%;
}

.full_screen_grid {
    position: fixed !important;
    top: 0px !important;
    right: 0px !important;
    width: 100% !important;
    z-index: 1000;
}

/* make sidebar nav vertical */

@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }

    .sidebar-nav .navbar ul {
        float: none;
    }

    .sidebar-nav .navbar ul:not {
        display: block;
    }

    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }

    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .sidebar-nav .navbar-nav li > a {
        /*color: #ffffff;*/
    }
}

.vertical_navbar_list_right {
    text-align: right;
    list-style-position: inside;
}

/*
* Callouts
*/

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    border-radius: 3px
}

.bs-callout + .bs-callout {
    margin-top: -5px
}

.bs-callout-danger {
    border-left-color: #ce4844
}

.bs-callout-danger h4 {
    color: #ce4844
}

.bs-callout-warning {
    border-left-color: #aa6708
}

.bs-callout-warning h4 {
    color: #aa6708
}

.bs-callout-info {
    border-left-color: #1b809e
}

.bs-callout-info h4 {
    color: #1b809e
}


/* language direction
*/

.right_aligned {
    text-align: right;
}

/*
* Grid
*/

.row_successful_update {
    background: #EAFAEB;
}

select {
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

.joined_child_cell {
    background-color: #f2f0f0;
}

.ui-th-column-header
{
    text-align: center;
}

.modal-backdrop {
    z-index: 0;
}

/*
* Search dialog
*/

td.first {
    padding-left: 15px;
}